node_modules/
docs/
.env
static/testiny
static/js/vendor
task/manifest/Enums.d.ts
static/definitions/DeepsightPlugCategorisation.d.ts
static/definitions/DeepsightBreakerTypeDefinition.d.ts
static/definitions/DeepsightEmblemDefinition.json
static/definitions/DeepsightIconDefinition.json
static/definitions/Enums.d.ts
auth.json
activitycache.json*
charm/
